@import url("./reset.css");

body {
  /* cores primárias */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);

  /* cores neutras */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  margin: 0rem;
}

.nav {
  top: 0rem;
  display: flex;
  justify-content: space-between;
}

.logo-header {
  width: 35%;
  padding: 1.25rem;
}

.img-header-desktop {
  margin: 0rem;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.img-header-mobile {
  margin: 0rem;
  max-width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.header {
  margin: 0 auto;
  align-items: center;
  position: relative;
  top: 0;
  width: 100%;
}

.titulo-header {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.titulo-header h1 {
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 900;
  color: var(--white);
  letter-spacing: 0.5rem;
  position: relative;
  top: -30px;
}

.arrow {
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 1.5625rem;
}

.header-menu li {
  height: fit-content;
  align-items: center;
}

.burge-header {
  top: 0rem;
  padding: 1.25rem;
  right: 0rem;
  height: fit-content;
  margin-top: 0.25rem;
}

.secao {
  display: grid;
  grid-template-columns: 1fr;
}

.secao-fotos {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
}

.item {
  width: 187.5px;
  margin: 0px;
}

.margin {
  margin-top: 136px;
}

.conteudo-secao {
  background-color: var(--white);
  padding: 3.75rem 1.5625rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  text-align: center;
}

.logo-footer {
  fill: var(--dark-desaturated-cyan);
}

.conteudo-footer {
  background-color: var(--dark-moderate-cyan);
  padding: 3.75rem 40px;
  text-align: center;
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -50px;
}

.menu-footer a {
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  color: var(--dark-desaturated-cyan);
}

.icones-footer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
}

.gap-secao {
  gap: 2.5rem;
}

.padding-secao {
  padding: 0px 25px;
}

.titulo-secao {
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 36px;
  color: var(--very-dark-desaturated-blue);
}

.titulo-clients {
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: var(--grayish-blue);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.25rem;
}

.texto-secao {
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  color: var(--very-dark-grayish-blue);
  font-size: 18px;
}

.img-secao {
  width: 100%;
}

.img-client {
  border-radius: 50%;
  width: 4.6875rem;
  align-self: center;
  margin-top: 1.25rem;
}

.nome-client {
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: var(--very-dark-desaturated-blue);
  font-size: 1.25rem;
}

.cargo-client {
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  color: var(--grayish-blue);
  margin-top: -30px;
}

.link-secao::before {
  content: "";
  display: block;
  width: 120px;
  height: 0.375rem;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
}

.cor-yellow::before {
  background: var(--yellow);
}

.cor-red::before {
  background: var(--soft-red);
}

.learn-more-before {
  position: relative;
  z-index: 2;
}

.link-secao {
  position: relative;
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  color: var(--very-dark-desaturated-blue);
  text-transform: uppercase;
}

.conteudo-absolute {
  position: absolute;
  top: 2220px;
  padding: 2.5rem 1.5625rem;
  background-color: transparent;
  justify-content: center;
}

.img-relative {
  margin: 0rem;
  max-width: 100%;
  position: relative;
  z-index: -1;
}

.top-img {
  top: 177rem;
}

@media (max-width: 376px) {
  .header-menu {
    display: none;
  }
  .img-header-desktop {
    display: none;
  }
  .img-desktop {
    display: none;
  }
}

@media (min-width: 1440px) {
  .header-menu {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 100px;
    gap: 200px;
  }

  .header-menu li:last-child {
    background-color: var(--white);
    border-radius: 90px;
    padding: 50px;
  }

  .header-menu a {
    color: var(--white);
    font-family: "Barlow", Arial, Helvetica, sans-serif;
  }

  .header-menu li:last-child a {
    color: var(--very-dark-desaturated-blue);
    text-transform: uppercase;
    font-family: "Fraunces", Arial, Helvetica, sans-serif;
  }

  .titulo-header {
    margin-top: -310px;
  }

  .titulo-header h1 {
    font-size: 200px;
    top: 380px;
    letter-spacing: 64px;
  }

  .nav {
    top: 0rem;
    display: flex;
    font-size: 70px;
    justify-content: space-between;
  }

  .arrow {
    width: 150px;
    margin-top: 700px;
  }

  .conteudo-absolute {
    top: 10000px;
  }

  .secao {
    grid-template-columns: 1fr 1fr;
  }

  .secao-clients {
    display: flex;
  }

  .conteudo-secao {
    padding: 500px 600px;
    text-align: left;
    gap: 200px;
  }

  .conteudo-secao2 {
    padding: 400px;
    text-align: center;
  }

  .titulo-clients {
    font-size: 70px;
    margin-top: 600px;
  }

  .img-client {
    width: 270px;
  }

  .nome-client {
    font-size: 70px;
  }

  .cargo-client{
    font-size: 50px;
    margin-top: -170px;
  }

  .titulo-secao {
    font-size: 200px;
  }

  .texto-secao {
    font-size: 72px;
  }

  .link-secao {
    font-size: 50px;
  }

  .conteudo-secao-desktop {
    max-width: 1710px;
    padding: 70px 110px;
    gap: 100px;
    text-align: center;
    margin-left: 650px;
  }

  .link-secao::before {
    top: 40px;
    width: 370px;
    height: 20px;
    border-radius: 60px;
    right: 1600px;
  }

  .img-header-mobile {
    display: none;
  }
  .img-mobile {
    display: none;
  }
  .burge-header {
    display: none;
  }

  .logo-header {
    width: 15%;
    padding: 100px;
  }
  .margin {
    margin-top: 1340px;
  }

  .coluna2-desktop {
    grid-column: 2;
  }

  .coluna1-desktop {
    grid-column: 1;
    grid-row: 1;
  }
}
