body {
  /* cores primárias */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);

  /* cores neutras */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  margin: 0rem;
}

h1,
h2,
h3,
p {
  margin: 0rem;
}

a{
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  font-size: 1.875rem;
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  color: var(--white);
  top: 40%;
  letter-spacing: 0.5rem;
}

ul {
  list-style: none;
  margin: 0rem;
  padding: 0rem;
  margin-block-end: 0rem;
  padding-inline-start: 0px;
}

.nav {
  top: 0rem;
  display: flex;
  font-size: 10px;
  justify-content: space-between;
}

.backgroud {
  background-image: url(./images/mobile/image-header.jpg);
  background-size: auto;
}

.logo-header {
  width: 35%;
  padding: 20px;
}

.img-header-desktop {
  margin: 0rem;
  width: 100%;
  position: relative;
}

.img-header-mobile {
  margin: 0rem;
  max-width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.header {
  margin: 0 auto;
  align-items: center;
  position: relative;
  top: 0;
  width: 100%;
}

.titulo-header {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.arrow {
  margin-top: 7vh;
}

.header-menu {
  margin: 0px;
  display: flex;
  margin-right: -230px;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.header-menu li {
  height: fit-content;
  align-items: center;
}

.burge-header {
  top: 0rem;
  padding: 1.25rem;
  right: 0rem;
  height: fit-content;
  margin-top: 0.5vh;
}

.secao {
  display: grid;
  grid-template-columns: 1fr;
}

.secao-fotos{
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
}

.item{
  width: 187.5px;
  margin: 0px;
}

.margin {
  margin-top: 19vh;
}

.conteudo-secao {
  background-color: var(--white);
  padding: 3.75rem 1.5625rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  text-align: center;
}

.logo-footer{
  fill: var(--dark-desaturated-cyan);
}

.conteudo-footer{
  background-color: var(--dark-moderate-cyan);
  padding: 3.75rem 40px;
  text-align: center;
}

.menu-footer{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -50px;
}

.menu-footer a{
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  color: var(--dark-desaturated-cyan);
}

.icones-footer{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
}

.gap-secao{
  gap: 2.5rem;
}

.padding-secao{
  padding: 0px 25px;
}

.titulo-secao {
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  font-size: 5vh;
  color: var(--very-dark-desaturated-blue);
}

.titulo-clients{
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: var(--grayish-blue);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .25rem;
}

.texto-secao {
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  color: var(--very-dark-grayish-blue);
  font-size: 18px;
}

.img-secao {
  width: 100%;
}

.img-client{
  border-radius: 50%;
  width: 4.6875rem;
  align-self: center;
  margin-top: 1.25rem;
}

.nome-client{
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: var(--very-dark-desaturated-blue);
  font-size: 1.25rem;
}

.cargo-client{
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  color: var(--grayish-blue);
  margin-top: -30px;
}

.link-secao::before {
  content: "";
  display: block;
  width: 100px;
  height: 0.375rem;
  border-radius: 0.3125rem;
  position: absolute;
  top: 2vh;
  left: 34.5%;
  background: red;
}

.link-secao {
  position: relative;
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  color: var(--very-dark-desaturated-blue);
}

.conteudo-absolute{
  position: absolute;
  top: 340vh;
  padding: 2.5rem 1.5625rem;
  background-color: transparent;
}

.img-relative{
  margin: 0rem;
  max-width: 100%;
  position: relative;
  z-index: -1;
}

.top-img{
  top: 433vh;
}

@media (max-width: 23.5rem) {
  .header-menu {
    display: none;
  }
  .img-header-desktop {
    display: none;
  }
}

@media (min-width: 90rem) {
  .header-menu li:last-child {
    background-color: var(--white);
    border-radius: 4.375rem;
    padding: 0.625rem;
  }

  .header-menu a {
    color: var(--white);
    font-family: "Barlow", Arial, Helvetica, sans-serif;
  }

  .header-menu li:last-child a {
    color: var(--very-dark-desaturated-blue);
    text-transform: uppercase;
    font-family: "Fraunces", Arial, Helvetica, sans-serif;
  }

  .secao {
    grid-template-columns: 1fr 1fr;
  }
}
